*{
	font-family:"Arial";
}

body {
	background-color: #FFC195;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.button{
	border-radius: 10px;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
}

a{
	color:#FFFFFF;
	text-decoration: none;
	cursor:default;
}

a img { 
	border: none;
}

a:link {
	color:#000;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	background-color: #3C2311;
	margin: 0 auto;
}


.header {
	background-color:#3C2311;
}

.button{
	}
	
.sidebar1 {
	float: left;
	width: 180px;
	background-color: #3C2311;
	padding-bottom: 10px;
	display: block;
	height: auto;
}
.content {

	padding: 10px 0;
	width: 780px;
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
	background-color: #3C2311;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #3C2311;
	color: #FFF;
}

.footer {
	padding: 10px 0;
	background-color: #FF9548;
	position: relative;
	clear: both; 
	color: #000000;
}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#wrapper {
	display: block;
	height: 600px;
	
	width: 600px;
	margin: auto;
}
#container {
	background-color: #FFC;
	display: block;
	float: right;
	height: 600px;
	width: 600px;
	overflow: auto;
}
#slider {
	display: block;
	float: left;
	height: 600px;
	width: 600px;
	overflow: hidden;
	position: absolute;
}
#buttoncont{
	padding: 100px}
